<a href="https://colab.research.google.com/github/Milavwv/python_learning/blob/main/dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
mydict ={"name":"Max","Age": "28","city" :"New York"}
print(mydict)

{'name': 'Max', 'Age': '28', 'city': 'New York'}

In [3]:
mydict2 =dict(name="Mary",age=27,city="Boston")
print(mydict2)

{'name': 'Mary', 'age': 27, 'city': 'Boston'}

In [4]:
 value =mydict["name"]
 print(value)

Max

In [6]:
age =mydict["Age"]
print(age)

28

In [7]:
mydict["email"]="gengningyi@163.com"

In [8]:
print(mydict)

{'name': 'Max', 'Age': '28', 'city': 'New York', 'email': 'gengningyi@163.com'}

In [10]:
   mydict["email"]="coolgengningyi@163.com"
   print(mydict)

{'name': 'Max', 'Age': '28', 'city': 'New York', 'email': 'coolgengningyi@163.com'}

In [11]:
#delete
del mydict["name"]
print(mydict)

{'Age': '28', 'city': 'New York', 'email': 'coolgengningyi@163.com'}

In [14]:
mydict.pop("Age")

In [14]:
print(mydict)

{'city': 'New York', 'email': 'coolgengningyi@163.com'}

In [15]:
mydict.popitem()
print(mydict)

{'city': 'New York'}

In [16]:
print(mydict)

{'city': 'New York'}

In [18]:
 mydict ={"name":"Max","Age": "28","city" :"New York"}
 print(mydict)

{'name': 'Max', 'Age': '28', 'city': 'New York'}

In [19]:
 if "name" in mydict:
  print(mydict["name"])

Max

In [21]:
 if "lastname" in mydict:
  print(mydict["lastname"])
else:
  print("there was not the word")

there was not the word

In [22]:
try:
  print(mydict["name"])
except:
  print("Error")

Max

In [23]:
try:
  print(mydict["lastname"])
except:
  print("Error")

Error

In [24]:
for key in mydict:
  print(key)

name
Age
city

In [27]:
for key in mydict.keys():
  print(key)

name
Age
city

In [31]:
for key,value in mydict.items():
  print(key,value)

name Max
Age 28
city New York

In [30]:
for value in mydict.values():
  print(value)

Max
28
New York

In [33]:
mydict_cpy =mydict
print(mydict_cpy)

{'name': 'Max', 'Age': '28', 'city': 'New York'}

In [34]:
mydict_cpy["email"] ="xx@163.com"
print(mydict_cpy)
print(mydict)

{'name': 'Max', 'Age': '28', 'city': 'New York', 'email': 'xx@163.com'}
{'name': 'Max', 'Age': '28', 'city': 'New York', 'email': 'xx@163.com'}

In [38]:
mydict.pop("email")
print(mydict)

{'name': 'Max', 'Age': '28', 'city': 'New York'}

In [39]:
mydict_copy =mydict.copy()
mydict_copy["email"]="xx@163.com"
print(mydict)
print(mydict_copy)

{'name': 'Max', 'Age': '28', 'city': 'New York'}
{'name': 'Max', 'Age': '28', 'city': 'New York', 'email': 'xx@163.com'}

In [40]:
mydict_copy =dict(mydict)
mydict_copy["email"]="xx@163.com"
print(mydict)
print(mydict_copy)

{'name': 'Max', 'Age': '28', 'city': 'New York'}
{'name': 'Max', 'Age': '28', 'city': 'New York', 'email': 'xx@163.com'}

In [45]:
#merge
dict1={'name': 'Max', 'age': '28',"email":"xx@163.com"}
dict2=dict(name="Mary",age=27,city="Boston")
dict1.update(dict2)
print(dict1)

{'name': 'Mary', 'age': 27, 'email': 'xx@163.com', 'city': 'Boston'}

In [47]:
 dict1={3:9,6:36,9:81 }
 print(dict1)
 value=dict1[3]
 print(value)

{3: 9, 6: 36, 9: 81}
9

In [49]:
mytuple= (8,7)
mydict ={mytuple:15}
print(mydict)

{(8, 7): 15}

In [50]:
mylist= [8,7]
mydict ={mylist:15}
print(mydict)
#list is mutable and can be change  ,then it is unhashable

TypeError: unhashable type: 'list'