<a href="https://colab.research.google.com/github/Milavwv/python_learning/blob/main/itertools.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# itertools : product, permutations ,combinations, accumalate,groupby and infinite iterators
#probability and statistic problem

In [2]:
from itertools import product

In [3]:
a= [1,2]
b=[3,4]
prod =product(a,b)
print(prod)

<itertools.product object at 0x7eaa2efab9c0>

In [4]:
print(list(prod))

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [6]:
a= [1,2]
b=[3]
prod =product(a,b,repeat=2)
print(list(prod))

[(1, 3, 1, 3), (1, 3, 2, 3), (2, 3, 1, 3), (2, 3, 2, 3)]

In [7]:
from itertools import permutations

In [25]:
b= [1,2,3]
perm =permutations(b)
print(list(perm))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [26]:
b= [1,2,3]
perm =permutations(b)
print(len(list(perm)))

6

In [27]:
a =[1,2,3]
perm =permutations(a,2)
print(list(perm))

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

In [28]:
a =[1,2,3]
perm =permutations(a,2)
print(len(list(perm)))

6

In [30]:
a =[3,4,5,6,7,8]
perm =permutations(a,2)
print(list(perm))

[(3, 4), (3, 5), (3, 6), (3, 7), (3, 8), (4, 3), (4, 5), (4, 6), (4, 7), (4, 8), (5, 3), (5, 4), (5, 6), (5, 7), (5, 8), (6, 3), (6, 4), (6, 5), (6, 7), (6, 8), (7, 3), (7, 4), (7, 5), (7, 6), (7, 8), (8, 3), (8, 4), (8, 5), (8, 6), (8, 7)]

In [31]:
a =[3,4,5,6,7,8]
perm =permutations(a,2)
print(len(list(perm)))

30

In [35]:
from itertools import combinations,combinations_with_replacement

In [38]:
a=[1,2,3,4]
com =combinations(a,2)
print(list(com))
comb=combinations_with_replacement(a,2)
print(list(comb))

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]
[(1, 1), (1, 2), (1, 3), (1, 4), (2, 2), (2, 3), (2, 4), (3, 3), (3, 4), (4, 4)]

In [42]:
from itertools import accumulate
import operator

In [43]:
a=[1,2,3,4]
acc =accumulate(a,func=operator.mul)
print(a)
print(list(acc))

[1, 2, 3, 4]
[1, 2, 6, 24]

In [44]:
a=[1,2,3,4]
acc =accumulate(a,func=max)
print(a)
print(list(acc))

[1, 2, 3, 4]
[1, 2, 3, 4]

In [45]:
a=[1,2,5,3,4]
acc =accumulate(a,func=max)
print(a)
print(list(acc))

[1, 2, 5, 3, 4]
[1, 2, 5, 5, 5]

In [46]:
from itertools import groupby

In [49]:
a =[1,2,3,4]

def smaller_than_3(x):
  return x<3
group =groupby(a,key=smaller_than_3)

for key,value in group:
  print(key,list(value))

True [1, 2]
False [3, 4]

In [50]:
a =[1,2,3,4]

group =groupby(a,key=lambda x:x<3)

for key,value in group:
  print(key,list(value))

True [1, 2]
False [3, 4]

In [53]:
persons =[{"name":"Tim","age":25},{"name":"dan","age":25},{"name":"lisa","age":27},{"name":"Claire","age":28}]
group =groupby(persons,key=lambda x:x["age"])
for x,y in group:
  print(x,list(y))

25 [{'name': 'Tim', 'age': 25}, {'name': 'dan', 'age': 25}]
27 [{'name': 'lisa', 'age': 27}]
28 [{'name': 'Claire', 'age': 28}]

In [56]:
persons =[{"name":"Tim","age":25},{"name":"dan","age":25},{"name":"lisa","age":27},{"name":"Claire","age":28}]
group =groupby(persons,key=lambda x:x["age"])

for key,value in group:
  print(key,list(value))

25 [{'name': 'Tim', 'age': 25}, {'name': 'dan', 'age': 25}]
27 [{'name': 'lisa', 'age': 27}]
28 [{'name': 'Claire', 'age': 28}]

In [57]:
from itertools import count,cycle,repeat

sys

In [60]:
for i in count(10):
  print(i)
  if i == 15:
    break

10
11
12
13
14
15

In [64]:
a =[1,2,3]
count=0
for i in cycle(a):
  print(i)
  count += 1
  if count==10:
    break

1
2
3
1
2
3
1
2
3
1

In [66]:
a =[1,2,3]
count=0
for i in repeat(1):
  print(i)
  count += 1
  if count==10:
    break

1
1
1
1
1
1
1
1
1
1

In [67]:
a =[1,2,3]
count=0
for i in repeat(1,4):
  print(i)

1
1
1
1