<a href="https://colab.research.google.com/github/Milavwv/python_learning/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
mytuple =("Max",28,"Boston")
print(mytuple)

('Max', 28, 'Boston')

In [ ]:
mytuple ="Max",28,"Boston"
print(mytuple)

('Max', 28, 'Boston')

In [ ]:
mytuple=("max")
print(type(mytuple))

<class 'str'>

In [ ]:
mytuple=("max",)
print(type(mytuple))

<class 'tuple'>

In [ ]:
mytuple=tuple(["Max",28,"Boston"])
print(type(mytuple))

<class 'tuple'>

In [ ]:
item = mytuple[-1]
print(item)

Boston

In [ ]:
mytuple[0]="Tim" #impossible because tuple is immutable

Boston

In [ ]:
 for i in mytuple:
  print(i)

Max
28
Boston

In [ ]:
if  "Max" in mytuple:
  print("yes")
else:
  print("no")

yes

In [ ]:
len(mytuple)

3

In [ ]:
mytuple.count("Max")

1

In [ ]:
mytuple.index(28)

1

In [ ]:
mylist=list(mytuple)
print(mylist)
type(mylist)

['Max', 28, 'Boston']

list

In [ ]:
 mytuple=tuple(mylist)
 print(mytuple)
 type(mytuple)

('Max', 28, 'Boston')

tuple

In [ ]:
 a=(1,2,3,4,5,6,7,8,9,10)
 b=a[2:5]
 print(b)

(3, 4, 5)

In [ ]:
b=a[:5]
print(b)

(1, 2, 3, 4, 5)

In [ ]:
b=a[::2]
print(b)

(1, 3, 5, 7, 9)

In [ ]:
b=a[::-1]
print(b)

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [53]:
print(mytuple)

('Max', 28, 'Boston')

In [54]:
name,age,city =mytuple
print(name)
print(age)
print(city)

Max
28
Boston

In [56]:
my_tuple=(0,1,2,3,4)
i1,*i2,i3 =my_tuple
print(i1)
print(i3)
print(i2)

0
4
[1, 2, 3]

In [57]:
 import sys

In [58]:
mylist=[0,1,2,"hello",True]
mytuple=(0,1,2,"hello",True)
print(sys.getsizeof(mylist),"bytes")
print(sys.getsizeof(mytuple),"bytes")

104 bytes
80 bytes

In [59]:
 import timeit

In [61]:
print(timeit.timeit(stmt="[0,1,2,3,4,5]",number=1000000))
print(timeit.timeit(stmt="(0,1,2,3,4,5)",number=1000000))

0.056638372999941566
0.011980006999920079